* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*mangages the header elements styling consisting of the padding,font type and colours of text*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*fixes position of h1 in the header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*targets the ''seo' class of the horiseon logo in header and styles it separately*/
.header h1 .seo {
    color: #d9dcd6;
}
/*positioning of navbar*/
.nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*targets clickable links in navbar*/
.header ul {
    list-style-type: none;
}
/* fixes position of nav elements*/
.nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*colors of links*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*targets fotnsize of content within the paragraphs*/
p {
    font-size: 16px;
}
/*link to the main image in the bacgkround and fixes its positioning*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Targets the float-left class to specify its positioning*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Targets the float-right class to specify its positioning*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*targets the positioning of elements within the content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*handling font style and positioning of elements with the benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* benefit-lead,benefit-brand,benefit-cost positioning and styling within article element targetted*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* targets positioning of headings within the article elments in benefit-lead,benefit-brand and benefit-cost*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* targets images within the aside article element positioning and sizing: this includes benefit-lead img, benefit-brand img and benefit-cost img*/ 
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*targets elments within the main articles style and positioning:including search-engine-optimization, .social media-marketing and .online-reputation-management*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*targets the images sizing in the main article element including: .search-engine-optimization img, .online-reputation-managemnt img and .social-media-marketing img*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
/*targets positioning of main article such as .search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*targets styleing and positioning of the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*targets font size of text within the footer*/
.footer h2 {
    font-size: 20px;
}
